* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


header, .gauche, .droit{
    border: 2px solid black;
}

a {
    color: black;
}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.acc-info {
    width: 20%;
    justify-content: center;
    margin-left: 50px;
}

.header>.maney-info {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
}

.gauche {
    width: 20%;
    height: 100vh;
    text-align: right;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.gauche>button {
    display: block;
    margin: 30px 0;
    height: 40px;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    transition: all .2s ease-in-out;
}

.gauche>button:hover {
    transform: scale(1.1);
}

.droit {
    width: 80%;
    height: 100vh;
    background-color: #ede7e2;
    overflow-x: hidden;
    overflow-y: hidden;
}

p {
    margin: 0;
    font-size: 1.2rem;
}

.carte{
    display: flex;
    margin: 10px 20px;
    padding: 25px;
    border: 5px solid black;
    border-radius: 15px;
    background-color:white;
    
}
.menu-cache{
    display: none;
    justify-content: space-between;
    margin-left: 20px;
}

.btn-cache{
    background-color: blue;
    color: white;
    padding: 5px 30px;
    border-radius: 15px;
    font-size: 1.2rem;
    transition: all .2s ease-in-out;
}

.btn-cache:hover {
    transform: scale(1.1);
    color: black;
}
.carte-element{
    margin: 0 20px;
}
.elemen-cache{
    margin: 0 20px;
}


.carte:hover .menu-cache {
    display: flex;
    color: red;
}

.form-add-modifier-dep{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.form-add-modifier-dep > input[type=text], .form-add-modifier-dep > input[type=number]{
    width: 800px;
    height: 50px;
    border: 3px solid black;
    border-radius: 15px;
    appearance: textfield;
    font-size: 1.8rem;
    padding-left: 10px;
}
.body-dep #body-dep{
    height: 100px;
}
.form-add-modifier-dep > label {
    font-size: 1.8rem;
    
}

.valider{
    font-size: 2rem;
    background-color: blue;
    color: white;
    padding: 10px 100px;
    margin-top: 25px;
    border-radius: 34px;
}

.form-aug{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.form-aug > .btn{
    background-color: white;
    margin-top: 15px;
    color:blue;
    border-radius: 15px;
}

.form-aug > .aug-plafond{
    border-radius: 12px;
    appearance: textfield;
    height: 30px;
    text-align: center;
    color:blue;
    font-size: 1.2rem
}
.error{
    text-align: center;
    color:red;
    font-size: 1.3rem;
}